@import 'swiper/swiper-bundle.css';

@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-sans-9pt-regular: "DM Sans 9pt", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-promo-test: "Promo Test Normal", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-aileron: "Aileron", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-quicksilver: "Quicksilver", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-myriad-pro: "Myriad Pro", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-blue-mensana: #0284be;
    --color-cyan-mensana: #03909a;

}

@layer components {

    .btn {
        @apply inline-flex justify-center items-center shadow-sm px-6 py-2 border border-transparent rounded-md font-medium text-sm;
    }

    .btn-primary {
        @apply bg-blue-mensana focus:outline-none focus:ring-2 focus:ring-blue-mensana focus:ring-offset-2 text-white;
    }

    .nav-wrapper{
        @apply flex justify-between items-center;
    }

    .nav-wrapper .search-form{
        @apply relative;
    }

    .nav-wrapper .search-input{
        @apply block py-0.5 pr-10 pl-4 border border-gray-300 rounded-full focus:outline-none focus:ring focus:ring-blue-400 w-full;
    }

    .nav-items{
        @apply flex items-center lg:space-x-14;
    }

    .nav-items .nav-link{
        @apply relative font-sans-9pt-regular text-blue-mensana text-lg transition duration-300;
    }

    .nav-items .nav-link::after{
        @apply block bg-white mt-2 w-full h-1 content-[''] scale-0 transition-all duration-300 ease-in-out transform;
    }

    .nav-items .nav-link.active::after, .nav-items .nav-link:hover::after{
        @apply bg-blue-mensana scale-100;
    }

    .language-switcher{
        @apply absolute top-1/2 right-0 transform -translate-y-1/2 grid grid-cols-2 gap-2 pl-4;
    }

    .language-switcher .language-link{
        @apply font-sans-9pt-regular text-gray-300 hover:text-blue-mensana text-base leading-4 transition duration-300;
    }

    .language-switcher .language-link img{
        @apply inline grayscale-100 mr-1 border border-gray-300 w-5 h-5;
    }

    .language-switcher .language-link:not(:last-child){
        @apply border-black border-r;
    }


    .language-switcher .language-link.active{
        @apply font-bold text-blue-mensana;
    }

    .language-switcher .language-link.active img{
        @apply grayscale-0;
    }

    .home__swiper{
        @apply relative h-[800px];
    }

    .home__swiper .shape__banner{
        @apply bottom-0 z-10 absolute inset-x-0 flex justify-center items-center w-full h-[100px];
    }


    .banner-text-wrapper {
        @apply left-0 absolute inset-y-0 flex justify-center w-5/12;
    }

    .banner-text-wrapper .banner-text {
        @apply z-10 relative space-y-7 mt-[220px] max-w-[60%] text-white;
    }

    .banner-text-wrapper .banner-text-bg {
        @apply z-0 absolute inset-0 w-full h-full object-cover mix-blend-multiply;
    }

    .product-service-card{
        @apply relative bg-gray-100 pl-2 rounded-2xl h-[300px] overflow-hidden
    }

    .product-service-card .badge {
        @apply top-0 right-0 z-20 absolute py-2.5 rounded-tr-md w-[300px] font-bold text-white text-4xl text-center;
    }

    .badge.badge-rtl{
        @apply bg-cover bg-no-repeat bg-left-bottom;
    }

    .featured-products{
        @apply relative px-5 pt-20 pb-16 border border-gray-200 rounded-2xl w-full;
    }

    .featured-products .badge {
        @apply top-0 -left-1 z-20 absolute py-2.5 pr-16 pl-8 rounded-tr-md font-bold text-white text-4xl text-center;
    }

    .badge.badge-ltr{
        @apply bg-cover bg-no-repeat bg-right-bottom;
    }

    .home__product_swiper .product-card{
        @apply bg-white p-4 border border-gray-300 rounded-md overflow-hidden;
    }

    .product-card .product-info{
        @apply mb-2 text-center;
    }

    .product-card .product-info .product-title{
        @apply font-sans-9pt-regular font-bold text-blue-mensana text-2xl text-center;
    }

    .product-card .product-info .product-description{
        @apply mt-1 mb-4 text-blue-mensana text-lg;
    }

    .product-card .product-tags{
        @apply flex flex-nowrap gap-2 mt-5;
    }

    .product-card .product-tags .tag{
        @apply px-2.5 py-1 border border-gray-200 rounded-full font-semibold text-blue-mensana text-sm;
    }

    .article-news {
        @apply relative pt-20 pb-16 w-full overflow-hidden;
    }

    .article-news .badge {
        @apply top-0 -left-1 z-20 absolute py-2.5 pr-16 pl-8 rounded-tr-md font-bold text-white text-4xl text-center;
    }

    .article-card{
        @apply bg-white shadow-md rounded-lg overflow-hidden;
    }

    .article-card .article-badge{
        @apply top-auto bottom-0 left-0 absolute bg-blue-mensana py-1 pr-8 pl-6 rounded-tr-3xl font-black text-white text-lg;
    }

    .article-card .article-date{
        @apply mb-4 font-sans font-semibold text-gray-600;
    }

    .article-card .article-title {
        @apply mb-2 font-bold text-blue-mensana text-3xl;
    }

    .article-card .read-more{
        @apply float-right mb-4 font-bold text-gray-500 hover:text-blue-mensana underline;
    }

    /* Article Page */
    .article_category__button{
        @apply hover:bg-blue-mensana px-4 py-1 border border-blue-mensana rounded-full text-blue-mensana hover:text-white text-2xl text-center leading-normal transition duration-300 cursor-pointer;
    }

    .article_category__button.active{
        @apply bg-blue-mensana text-white;
    }



    /* About page */

    .about__section {
        @apply relative flex items-center py-20 aspect-[3/1];
    }

    .thumbnail_milestone__swiper{
        @apply pb-4 max-w-[800px];
    }

    .thumbnail_milestone__swiper .thumbnail__title{
        @apply mb-1 font-extralight text-blue-mensana text-3xl text-center;
    }

    .thumbnail_milestone__swiper .thumbnail__subtitle{
        @apply mb-4 font-extralight text-blue-mensana text-3xl text-center;
    }

    .thumbnail_milestone__swiper .milestone__thumbnail--active::after{
        @apply bottom-0 absolute inset-x-5/12 bg-blue-mensana h-1 content-[''];
    }

    .milestone__swiper{
        @apply max-w-[1000px];
    }

    .milestone__swiper .milestone-card{
        @apply relative rounded-2xl h-[470px] overflow-hidden transition-transform duration-300 ease-in-out select-none;
    }

    .milestone__swiper .milestone-card img{
        @apply w-full h-full object-cover;
    }

    .swiper-slide-active .milestone-card::after{
        @apply absolute inset-0 from-blue-mensana to-blue-mensana/30 bg-linear-to-b content-[''] bg-blend-multiply transition-all duration-300 ease-in-out;
    }

    .swiper-slide-prev .milestone-card::after,
    .swiper-slide-next .milestone-card::after{
        @apply absolute inset-0 content-[''] transition-all duration-300 ease-in-out;
    }

    .swiper-slide-prev .milestone-card::after{
        @apply bg-linear-to-r from-white to-transparent;
    }

    .swiper-slide-next .milestone-card::after{
        @apply bg-linear-to-l from-white to-transparent;
    }

    .fixed-contact-button{
        @apply right-10 bottom-10 z-30 fixed flex items-center bg-white shadow-lg p-1 border border-blue-mensana rounded-full;
    }

    .fixed-contact-button .contact-button{
        @apply bg-blue-mensana p-2 rounded-full;
    }

    .fixed-contact-button .contact-text{
        @apply px-4 py-2 rounded-full font-sans-9pt-regular font-bold text-blue-mensana;
    }

    .img__shadowable_wrapper {
        @apply relative ml-auto w-max;
    }

    .img__shadowable.shadow{
        @apply top-[80%] z-0 absolute inset-x-0 opacity-40 rounded-lg w-full -scale-y-100 blur;
    }

    /* Product Page */

    .product__wrapper{
        @apply gap-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 mx-auto max-w-7xl;
    }

    .product__wrapper .product-card{
        @apply bg-white shadow-md hover:shadow-lg rounded-xl overflow-hidden text-center transition-transform hover:-translate-y-1 duration-300 transform;
    }

    .product-filter-wrapper{
        @apply relative mt-8;
    }

    .product-filter-wrapper .filter-parrent-title{
        @apply font-medium text-blue-mensana text-xl;
    }

    .product-filter-wrapper ul{
        @apply space-y-2 mt-4 pl-4;
    }

    .product-filter-wrapper .option-list{
        @apply inline-flex items-center select-none;
    }

    .product-filter-wrapper .option-list input{
        @apply hidden;
    }

    .product-filter-wrapper .option-list span.label{
        @apply flex items-center space-x-2 ml-2 text-gray-500 text-lg;
    }

    .product-filter-wrapper .option-list input:checked + span.label{
        @apply font-bold text-gray-600;
    }

    .product-filter-wrapper .option-list input + span.label .checkbox{
        @apply bg-white ring-1 ring-gray-600 size-5;
    }

    .product-filter-wrapper .option-list input + span.label .checkbox .checkmark{
        @apply opacity-0;
    }

    .product-filter-wrapper .option-list input:checked + span.label .checkbox .checkmark{
        @apply block opacity-100;
    }

    .product-filter-wrapper .toggle-button{
        @apply top-0 right-0 absolute;
    }


    /* Modal */

    .modal{
        @apply top-0 left-0 z-50 fixed flex justify-center items-center opacity-0 w-full h-full transition-opacity duration-1000 ease-in-out pointer-events-none;
    }

    .modal.modal-open{
        @apply opacity-100 pointer-events-auto;
    }


    /* Footer */
    .footer-gray {
        @apply bg-[#f2f2f2]
    }

    .footer-white {
        @apply bg-white
    }

}

/* Pagination */

/* 1. Banner Pagination */
.home__swiper .swiper-pagination {
    @apply right-0 bottom-[90px] left-0 z-20 absolute flex justify-center items-center gap-x-3;
}

.home__swiper .swiper-pagination-bullet {
    @apply bg-white opacity-100 !m-0 rounded-full w-3 h-3 transition-opacity duration-300;
}

.home__swiper .swiper-pagination-bullet-active {
    @apply bg-blue-400;
}


/* 2. Featured Products Pagination */
.featured-products .swiper-pagination {
    @apply right-0 bottom-8 left-0 z-20 absolute flex justify-center items-center gap-x-3;
}

.featured-products .swiper-pagination-bullet {
    @apply bg-gray-300 opacity-100 !m-0 rounded-full w-3 h-3 transition-opacity duration-300;
}

.featured-products .swiper-pagination-bullet-active {
    @apply bg-blue-400;
}

/* 3. Featured Article Pagination */
.article_image_swiper__pagination.swiper-pagination{
    @apply text-left;
}
