@import 'swiper/swiper-bundle.css';

@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-sans-9pt-regular: "DM Sans 9pt", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-promo-test: "Promo Test Normal", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-aileron: "Aileron", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-quicksilver: "Quicksilver", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-myriad-pro: "Myriad Pro", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-blue-mensana: #0284be;
    --color-cyan-mensana: #03909a;

    --aspect-blog: 12 / 5;
}

@utility container{
    @apply md:px-2 xl:px-0 max-w-full 2xl:max-w-[1536px] xl:max-w-6xl;
}

@layer components {

    .btn {
        @apply inline-flex justify-center items-center shadow-sm px-6 py-2 border border-transparent rounded-md font-medium text-sm;
    }

    .btn-primary {
        @apply bg-blue-mensana focus:outline-none focus:ring-2 focus:ring-blue-mensana focus:ring-offset-2 text-white;
    }

    .nav-wrapper{
        @apply hidden lg:flex lg:flex-row flex-col justify-between items-center pb-2 lg:pb-0;
    }

    .nav-wrapper.openNav {
        @apply block mt-10;
    }

    .nav-wrapper .search-form{
        @apply relative w-full lg:w-auto transition-all duration-500 ease-in-out transform;
    }

    .nav-wrapper .search-form.open{
        @apply lg:w-[700px];
    }

    .nav-wrapper .search-input{
        @apply block py-0.5 pr-10 pl-4 border border-gray-300 rounded-full focus:outline-none focus:ring focus:ring-blue-400 w-full transition-all duration-500 ease-in-out transform;
    }

    .nav-items{
        @apply flex lg:flex-row flex-col items-start space-x-0 lg:space-x-14 space-y-2 lg:space-y-0 w-full lg:w-auto;
    }

    .nav-items .nav-link{
        @apply relative font-sans-9pt-regular font-light lg:font-normal text-blue-mensana text-base lg:text-lg transition duration-300;
    }

    .nav-items .nav-link::after{
        @apply block bg-white mt-px lg:mt-2 w-full h-0.5 lg:h-1 content-[''] scale-0 transition-all duration-300 ease-in-out transform;
    }

    .nav-items .nav-link.active::after, .nav-items .nav-link:hover::after{
        @apply bg-blue-mensana scale-100;
    }

    .language-switcher{
        @apply lg:absolute lg:top-1/2 lg:right-0 transform lg:-translate-y-1/2 lg:grid grid-cols-2 gap-2 pl-0 lg:pl-4 relative hidden;
    }

    .language-switcher.openNav{
        @apply block;
    }

    .language-switcher .language-link{
        @apply font-sans-9pt-regular text-gray-300 hover:text-blue-mensana text-base leading-4 transition duration-300;
    }

    .language-switcher .language-link img{
        @apply inline grayscale-100 mr-1 border border-gray-300 w-2 lg:w-5 h-2 lg:h-5;
    }

    .language-switcher .language-link:not(:last-child){
        @apply border-black border-r;
    }


    .language-switcher .language-link.active{
        @apply font-bold text-blue-mensana;
    }

    .language-switcher .language-link.active img{
        @apply grayscale-0;
    }

    .home__swiper{
        @apply relative lg:h-[50px] 2xl:h-[800px] xl:h-[600px];
    }

    .home__swiper .shape__banner{
        @apply bottom-0 z-10 absolute inset-x-0 flex justify-center items-center w-full h-[20px] lg:h-[100px];
    }


    .banner-text-wrapper {
        @apply left-0 absolute inset-y-0 flex justify-center w-full xl:w-6/12 2xl:w-5/12;
    }

    .banner-text-wrapper .banner-text {
        @apply lg:block z-10 relative flex flex-col justify-center space-y-2 lg:space-y-7 mt-0 2xl:mt-[220px] xl:mt-[120px] max-w-[60%] text-white;
    }

    .banner-text-wrapper .banner-text-bg {
        @apply z-0 absolute inset-0 w-full h-full object-cover mix-blend-multiply;
    }

    .product-service-card{
        @apply relative bg-gray-100 pl-2 rounded-2xl h-[200px] lg:h-[300px] overflow-hidden
    }

    .product-service-card .badge {
        @apply top-0 right-0 z-20 absolute py-1 lg:py-2.5 rounded-tr-md w-[150px] lg:w-[300px] font-bold text-white text-xl lg:text-4xl text-center;
    }

    .badge.badge-rtl{
        @apply bg-cover bg-no-repeat bg-left-bottom;
    }

    .featured-products{
        @apply relative px-5 pt-14 lg:pt-20 pb-16 border border-gray-200 rounded-2xl w-full;
    }

    .featured-products .badge {
        @apply top-0 -left-1 z-20 absolute py-2 lg:py-2.5 pr-5 lg:pr-16 pl-2 lg:pl-8 lg:rounded-tr-md font-bold text-white text-xl lg:text-4xl text-center;
    }

    .badge.badge-ltr{
        @apply bg-cover bg-no-repeat bg-right-bottom;
    }

    .home__product_swiper .product-card{
        @apply block bg-white p-4 border border-gray-300 rounded-md overflow-hidden;
    }

    .home__product_swiper .product-card .product-info{
        @apply h-[128px] transition-all transform;
    }

    .home__product_swiper .product-card:hover .product-info{
        @apply scale-105 -translate-y-5;
    }

    .home__product_swiper .product-card .product-image{
        @apply transition-all transform;
    }

    .home__product_swiper .product-card:hover .product-image{
        @apply scale-105 -translate-y-6;
    }

    .product-card .product-info{
        @apply mb-2 overflow-y-auto text-center;
    }

    .product-card .product-info .product-title{
        @apply font-sans-9pt-regular font-bold text-blue-mensana text-2xl text-center;
    }

    .product-card .product-info .product-description{
        @apply mt-1 mb-4 text-blue-mensana text-lg;
    }

    .product-card .product-tags{
        @apply flex flex-nowrap gap-2 mt-5 h-[32px];
    }

    .product-card .product-tags .tag{
        @apply px-2.5 py-1 border border-gray-200 rounded-full font-semibold text-blue-mensana text-sm;
    }

    .article-news {
        @apply relative pt-20 pb-10 w-full overflow-hidden;
    }

    .article-news .badge {
        @apply top-0 -left-1 z-20 absolute py-2 lg:py-2.5 pr-5 lg:pr-16 pl-2 lg:pl-8 lg:rounded-tr-md font-bold text-white text-xl lg:text-4xl text-center;
    }

    .article-card{
        @apply bg-white shadow-lg rounded-lg overflow-hidden transition-all transform;
    }

    .article-card:hover{
        @apply scale-105 -translate-y-0.5;
    }

    .article-card .article-badge{
        @apply top-auto bottom-0 left-0 absolute bg-blue-mensana py-1 pr-8 pl-6 rounded-tr-3xl font-black text-white text-lg;
    }

    .article-card .article-date{
        @apply mb-4 font-sans font-semibold text-gray-600;
    }

    .article-card .article-title {
        @apply mb-2 font-bold text-blue-mensana text-lg xl:text-xl 2xl:text-3xl;
    }

    .article-card .read-more{
        @apply float-right mb-4 font-bold text-gray-500 hover:text-blue-mensana underline;
    }

    /* Article Page */
    .article_category__button{
        @apply hover:bg-blue-mensana px-4 py-1 border border-blue-mensana rounded-full text-blue-mensana hover:text-white text-2xl text-center leading-normal transition duration-300 cursor-pointer;
    }

    .article_category__button.active{
        @apply bg-blue-mensana text-white;
    }



    /* About page */

    .about__section {
        @apply relative flex items-center py-10 lg:py-20 w-full lg:aspect-[3/1] px-4 lg:px-0 overflow-hidden;
    }

    .thumbnail_milestone__swiper{
        @apply pb-4 max-w-[800px];
    }

    .thumbnail_milestone__swiper .thumbnail__title{
        @apply mb-1 font-extralight text-blue-mensana text-3xl text-center;
    }

    .thumbnail_milestone__swiper .thumbnail__subtitle{
        @apply mb-4 font-extralight text-blue-mensana text-3xl text-center;
    }

    .thumbnail_milestone__swiper .milestone__thumbnail--active::after{
        @apply bottom-0 absolute inset-x-5/12 bg-blue-mensana h-1 content-[''];
    }

    .milestone__swiper{
        @apply max-w-[1000px];
    }

    .milestone__swiper .milestone-card{
        @apply relative rounded-2xl h-[470px] overflow-hidden transition-transform duration-300 ease-in-out select-none;
    }

    .milestone__swiper .milestone-card img{
        @apply w-full h-full object-cover;
    }

    .swiper-slide-active .milestone-card::after{
        @apply absolute inset-0 from-blue-mensana to-blue-mensana/30 bg-linear-to-b content-[''] bg-blend-multiply transition-all duration-300 ease-in-out;
    }

    .milestone-card .milestone-description{
        @apply z-10 absolute inset-0 flex justify-center items-center opacity-0 text-lg transition-all duration-700 ease-in-out transform;
    }

    .swiper-slide-active .milestone-card:hover .milestone-description{
        @apply opacity-100;
    }


    .swiper-slide-prev .milestone-card::after,
    .swiper-slide-next .milestone-card::after{
        @apply absolute inset-0 content-[''] transition-all duration-300 ease-in-out;
    }

    .swiper-slide-prev .milestone-card::after{
        @apply bg-linear-to-r from-white to-transparent;
    }

    .swiper-slide-next .milestone-card::after{
        @apply bg-linear-to-l from-white to-transparent;
    }

    .fixed-contact-button{
        @apply right-3 lg:right-10 bottom-3 lg:bottom-10 z-30 fixed flex items-center bg-white shadow-lg p-1 border border-blue-mensana rounded-full;
    }

    .fixed-contact-button .contact-button{
        @apply bg-blue-mensana p-2 rounded-full;
    }

    .fixed-contact-button .contact-text{
        @apply px-4 py-2 rounded-full font-sans-9pt-regular font-bold text-blue-mensana;
    }

    .img__shadowable_wrapper {
        @apply relative lg:ml-auto lg:w-max;
    }

    .img__shadowable.shadow{
        @apply top-[80%] z-0 absolute inset-x-0 opacity-40 rounded-lg w-full -scale-y-100 blur;
    }

    /* Product Page */

    .product__section{
        @apply gap-x-10 grid grid-cols-10 mx-auto container;
    }

    .product__section .filter-section{
        @apply col-span-10 lg:col-span-3;
    }

    .product__section .product-items-section{
        @apply col-span-10 lg:col-span-7;
    }


    .product__wrapper{
        @apply gap-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 mx-auto max-w-7xl;
    }

    .product__wrapper .product-card{
        @apply bg-white shadow-md hover:shadow-lg rounded-xl overflow-hidden text-center transition-transform hover:-translate-y-1 duration-300 transform;
    }

    .product-filter-wrapper{
        @apply relative mt-8;
    }

    .product-filter-wrapper .filter-parrent-title{
        @apply font-medium text-blue-mensana text-xl;
    }

    .product-filter-wrapper ul{
        @apply space-y-2 mt-4 pl-4;
    }

    .product-filter-wrapper .option-list{
        @apply inline-flex items-center select-none;
    }

    .product-filter-wrapper .option-list input{
        @apply hidden;
    }

    .product-filter-wrapper .option-list span.label{
        @apply flex items-center space-x-2 ml-2 text-gray-500 text-base lg:text-lg;
    }

    .product-filter-wrapper .option-list input:checked + span.label{
        @apply font-bold text-gray-600;
    }

    .product-filter-wrapper .option-list input + span.label .checkbox{
        @apply bg-white ring-1 ring-gray-600 size-4 lg:size-5;
    }

    .product-filter-wrapper .option-list input + span.label .checkbox .checkmark{
        @apply opacity-0;
    }

    .product-filter-wrapper .option-list input:checked + span.label .checkbox .checkmark{
        @apply block opacity-100;
    }

    .product-filter-wrapper .toggle-button{
        @apply top-0 right-0 absolute;
    }


    /* Modal */

    .modal{
        @apply top-0 left-0 z-50 fixed flex justify-center items-center opacity-0 w-full h-full transition-opacity duration-1000 ease-in-out pointer-events-none;
    }

    .modal.modal-open{
        @apply opacity-100 pointer-events-auto;
    }


    /* Footer */
    .footer-gray {
        @apply bg-[#f2f2f2]
    }

    .footer-white {
        @apply bg-white
    }

}

/* Pagination */

/* 1. Banner Pagination */
.home__swiper .swiper-pagination, .contact-swiper-pagination.swiper-pagination {
    @apply right-0 bottom-[70px] lg:bottom-[90px] left-0 z-20 absolute flex justify-center items-center gap-x-3;
}

.home__swiper .swiper-pagination-bullet, .contact-swiper-pagination.swiper-pagination .swiper-pagination-bullet{
    @apply bg-white opacity-100 !m-0 rounded-full w-3 h-3 transition-opacity duration-300;
}

.home__swiper .swiper-pagination-bullet, .contact-swiper-pagination.swiper-pagination.darken .swiper-pagination-bullet{
    @apply bg-stone-600/60;
}

.home__swiper .swiper-pagination-bullet-active,
.contact-swiper-pagination.swiper-pagination .swiper-pagination-bullet-active{
    @apply bg-blue-400;
}

.contact-swiper-pagination.swiper-pagination.darken .swiper-pagination-bullet-active{
    @apply bg-blue-400;
}


/* 2. Featured Products Pagination */
.featured-products .swiper-pagination {
    @apply right-0 bottom-8 left-0 z-20 absolute flex justify-center items-center gap-x-3;
}

.featured-products .swiper-pagination-bullet {
    @apply bg-gray-300 opacity-100 !m-0 rounded-full w-3 h-3 transition-opacity duration-300;
}

.featured-products .swiper-pagination-bullet-active {
    @apply bg-blue-400;
}

/* 3. Featured Article Pagination */
.article_image_swiper__pagination.swiper-pagination{
    @apply text-left;
}

/* 4. Product Showcase */







/* Hamburger */
/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
  background: #333;
}

.hamburger__top-bun {
  transform: translateY(-5px);
}

.hamburger__bottom-bun {
  transform: translateY(3px);
}

.openNav {
  transform: rotate(90deg);
  transform: translateY(-1px);
}

.openNav .hamburger__top-bun {
  transform:
    rotate(45deg)
    translateY(0px);
}

.openNav .hamburger__bottom-bun {
  transform:
    rotate(-45deg)
    translateY(0px);
}
